@model WeekendProject.DAL.Model.Boek

@{
    ViewBag.Title = "Verwijder";
}

<div id="boekLijst">
    <h2>Verwijder</h2>

    <h3>Are you sure you want to delete this?</h3>
    @using (Html.BeginForm("VerwijderBoek", "Boekenkast", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.BoekId)
        <fieldset>
            <legend>Boek</legend>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Titel)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Titel)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Auteur)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Auteur)
            </div>
        </fieldset>
        <p>
            <input type="submit" value="Verwijder Boek."/> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
</div>